* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  box-sizing: border-box;
}

img{
  height: 200px;
  /* width: 200px; */
}

.prev {
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
} 

.slider-desc {
  display: flex;
  flex-direction: column;
}

.slider-desc p {
  margin-top: 10px;
  text-align: center;
  color: rgb(200, 200, 200);
}

button {
  border: 0px solid transparent;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  font-size: xx-large;
  font-weight: 900;
  background: transparent; 
  color: #ededed;
  cursor: pointer;
  position: absolute;
}

h1 {
  padding: 20px 10px;
  border: 2px solid white;
  letter-spacing: 10px;
  margin: 20px 10px;
}

.layout {
  margin: 200px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.next {
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);
}

.slider-container {
  width: 200px;
  border: 1px solid white;
  margin: auto;
  overflow: hidden;
}

.photo-drums, .photo-piano, .photo-perc, .photo-guitar{
  display: flex;
  transition: 0.2s;
}

.slider{
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  position: relative;
}