* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  /* box-sizing: border-box; */
}
img{
  border: 0px solid transparent;
  height: 300px;
  width: 300px;
}

/* .prev , .next{
  position: absolute;
}

.prev {
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
} */

button {
  border: none;
  width: 40px;
  height: 70px;
  font-weight: 900;
  font-size: large;
  padding: 15px;
  background: grey; 
  color: #ededed;
  cursor: pointer;
}

/* .next {
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);
} */

.slider-container {
  /* border-radius: 40px; */
  width: 300px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: auto;
  overflow: hidden;
}

.photo-drums, .photo-piano, .photo-perc, .photo-guitar{
  display: flex;
}

.slider{
  transition: 0.2s;
  display: flex;
  flex-direction: column;
}