* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  box-sizing: border-box;
}

img{
  height: 300px;
  width: 300px;
}

.prev {
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
} 

button {
  border: 1px solid darkgrey;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-size: small;
  background: grey; 
  color: #ededed;
  cursor: pointer;
  position: absolute;
}

.next {
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);
}

.slider-container {
  width: 300px;
  margin: auto;
}

.photo-drums, .photo-piano, .photo-perc, .photo-guitar{
  display: flex;
  transition: 0.2s;
}

.slider{
  border: 0px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  position: relative;
}