* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  animation-name: header;
  animation-duration: 2s;
  /* background-image: url(../img/studio.jpg);
  background-size: contain; */
  height: 100vh;
}

.element-to-watch {
  opacity: 0;
  transform: translateX(-10%);
}

.active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1s, transform 1s;
}

.bg-dark {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-popup{
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
}

.bg-popup p {
  background: white;
  color: black;
  padding: 20px;
}

.statement a {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 1.3rem;
  /* padding: 10px 20px; */
  padding: 0.5em 1.0em;
  font-size: 1.3rem;
  transition-duration: 0.3s;
}


.statement a:hover{
  color: black;
  background: white;
  border: 2px solid white;
}


div h1 {
  white-space: nowrap;
  margin-right: 0.5em;
 }


.logo {
  display: block;
  /* flex-grow: 1; */
  /* min-width: 330px; */
  max-width: 35rem;
  /* flex-basis: 10%; */
  /* outline: 2px solid magenta; */
}

.plugins{
  display: flex;
  justify-content: space-around;
  margin-top: 20em;
  margin-bottom: 20em;
  position: relative;
  flex-wrap: wrap;
}

.statement p{
  font-size: 2rem;
  color: rgb(181, 181, 181);
}

.statement h3 {
  font-size: 2rem;
  max-width: 38rem;
}

.statement {
  max-width: 30rem;
  /* min-width: 335px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  text-align: center;
}

.picture * {
  width: 30rem;
  padding: 3rem;
  border-radius: 8px;
}

#title {
  border-left: 0.1rem solid white;
  padding-left: 1.5em;
  margin: 2.4rem auto;
}

nav {
  animation-name: nav-bar;
  animation-duration: 3s; 
}


@keyframes header{
  0%{
    top: -40px;
    opacity: 0;
  }
  100%{
    top: 0px;
    opacity: 1;
  }
}

@keyframes nav-bar {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

li {
  list-style-type: none;
  font-size: small;
  font-weight: bolder;
  color: rgb(220, 220, 220);
  margin: 2em 2em;
}


ul {
  display: flex;
  justify-content: center;
}
div p {
  font-weight: 150;
  margin-top: 0.5em;
}

img {
  max-width: 100%;
}

