* {
    font-family: sans-serif;
    margin: 0;
    color: white;
    background-color: black;
  }

  .container {
    display: flex;
    align-items: center;
  }
  
  div h1 {
    white-space: nowrap;
    /* border-bottom: 1px solid white; */
  }
  
  .logo {
    display: block;
    flex-basis: 70%;
  }

  .container {
    position: relative;
    animation-name: header;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  #title {
    margin-right: 20px;
  }
 
  @keyframes header{
    0%{
      top: -40px;
      opacity: 0;
    }
    100%{
      top: 0px;
      opacity: 1;
    }
  }
  
  li {
    list-style-type: none;
    font-size: small;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.877);
    margin: 20px 20px;
  }
  
  ul {
    display: flex;
    justify-content: center;
  }
  div p {
    font-weight: 150;
    margin-top: 5px;
  }
  
  img {
    max-width: 100%;
  }

